<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Sanskrit Text Tools{% endblock %}</title>
</head>
<body>
  <main>
    <div class="container">
      {% with '/verses/ /books/verse/' as verse_url_list %}
        {% if request.path  in verse_url_list.split %}
        <p><a href="{% url 'home' %}">Home</a></p>
        {% else %}
        <p><a href="{% url 'verses' %}">Verses</a></p>
        {% endif %}
        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <p><a href="{% url 'logout' %}">Log Out</a></p>
          {% if request.path  in verse_url_list.split %}
          <form action="{% url 'verse_results' %}" method="get">
          {% else %}
          <form action="{% url 'search_results' %}" method="get">
          {% endif %}
            <input type="search" name="q" placeholder="Search by name or quote..." class="form-control">
          </form>
        {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">Log In</a>
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>